$primary: #2d2c79;
$primary-black: #1e1e1e;
$primary-grey: #696973;
$auth-input-border: #b8b8ba;
$primary-green: #54a99f;
$inputs-background: #eee;
$primary-mint-green: #75d5c9;
$primary-input-color: #3f4254;
$input-placeholder-color: #c8c0c0;
